:root {
    --color-warning: #e9da50;

    --font-1: "Source Sans Pro";
    --font-2: "Space Grotesk";
    --font-3: "Comfortaa";

    --container-padding: 10rem;
    --container-fluid-padding: 0.5rem;
    --container-mobile: 0.8rem;
}

* {

}

/* HEADER */


/* MAIN */


/* home */
/* aboud */
/* projects */
/* certificates */
/* contact */


/* FOOTER */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}